/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

###Database config###
#/src/main/resources/application.properties
#src/main/resources/application.properties
impl/target/classes/com/netcracker/impl/database/DatabaseImpl.class
impl/target/classes/com/netcracker/impl/rest/RestImpl$1.class
impl/target/classes/com/netcracker/impl/rest/RestImpl$2.class
impl/target/classes/com/netcracker/impl/rest/RestImpl$3.class
impl/target/classes/com/netcracker/impl/rest/RestImpl.class
impl/target/classes/com/netcracker/impl/services/point/PointServiceImpl.class
