<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waste transportation system</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

</head>
<body>

<div class="brand"><font color="#6495ed">Waste transportation system</font></div>
<div class="address-bar"><font color="#6495ed">Rest slow and clean</font></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WTS. Request</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index">About us</a>
                </li>
                <li>
                    <a href="request">Make request</a>
                </li>
                <li>
                    <a href="crewman">Boat page</a>
                </li>
                <li>
                    <a href="statistics">Statistics page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="box">
        <form>
            <div class="form-group col">
                <h3 class="intro-text text-center" id="vesselInfo">Vessel was not loaded
                </h3>
                <br>
                <div class="col-sm-7 text-center">
                    <div id="map" style="height: 400px;"></div>
                    <br>
                    <div class="form-group col">
                        <input type="text" readonly class="form-control-plaintext" id="latitude" value="Latitude">
                        <input type="text" readonly class="form-control-plaintext" id="longitude" value="Longitude">
                        <button type="button" class="btn btn-primary mb-2" id="setCoordinates"
                                onclick="onSetCoordinates()">Set boat coordinates
                        </button>
                    </div>
                </div>

                <div class="col-sm-4" id="controlLayer">

                    <div class="form-group row">
                        <label class="col-sm-3">Status</label>
                        <div class="col-sm-6">
                            <select id="dumpStatus" class="form-control">
                                <option selected>COMPLETED</option>
                                <option>CANCELED</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary mb-3" id="acceptButton" onclick="onAccept()">Accept
                        </button>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-5">Dump type</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="type" value="LIQUID">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-7">Dump size in packages</label>
                        <div class="col-sm-5">
                            <input type="text" readonly class="form-control" id="size" placeholder="1">
                        </div>
                    </div>

                    <label class="col-sm-7">Dump description</label>
                    <div class="col-sm-13">
                            <textarea readonly class="form-control rounded-0" id="description" rows="5"
                                      placeholder="Dump description."></textarea>
                    </div>

                    <br>
                    <div class="form-group row text-center">
                        <button type="button" class="btn btn-primary mb-3" onclick="onGetRoute()">Get route
                        </button>
                        <button type="button" class="btn btn-primary mb-3" id="closeRoute" onclick="onCloseRoute()">
                            Close
                            route
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="box">
        <textarea readonly class="form-control rounded-0" id="answer" rows="5"
                  placeholder="Answer information"></textarea>
        <button type="button" class="btn btn-primary mb-2" id="clearLog" onclick="onClearLog()">Clear</button>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

    // Create map
    var map = L.map('map').setView([61.2302, 30.0495], 13);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Create layer group to draw markers
    var markerGroup = L.layerGroup().addTo(map);
    // Create layer group to draw lines
    var linesGroup = L.layerGroup().addTo(map);

    // Save all markers to provide it's id
    var markers = {};

    // Needs for update point status
    var current_point_id = 0;

    var vesselInfo = document.getElementById('vesselInfo');
    var longitude = document.getElementById('longitude');
    var latitude = document.getElementById('latitude');
    var dumpType = document.getElementById('type');
    var dumpSize = document.getElementById('size');
    var dumpDescription = document.getElementById('description');
    var answer = document.getElementById('answer');
    var setCoordinateButton = document.getElementById('setCoordinates');
    var acceptButton = document.getElementById('acceptButton');
    var dumpStatus = document.getElementById('dumpStatus');
    var closeRouteButton = document.getElementById('closeRoute');

    setCoordinateButton.disabled = true;
    acceptButton.disabled = true;
    dumpStatus.disabled = true;
    closeRouteButton.disabled = true;


    var boatLatitude = '';
    var boatLongitude = '';
    var boatLoad = 0;
    var boatCapacity = 0;

    function printAnswer(value) {
        answer.value = answer.value + '\n' + value;
        answer.scrollTop = answer.scrollHeight;
    }

    function setDefaulValues() {
        latitude.value = 'Not given';
        longitude.value = 'Not given';
        dumpDescription.value = '';
        dumpType.value = 'Nor given';
        dumpSize.value = '1';
    }


    function onClearLog() {
        answer.value = '';
        answer.scrollTop = answer.scrollHeight;
    }

    var getVesselInfo = function () {
        $.ajax({
            type: 'GET',
            url: 'vessel/',
            contentType: 'application/json',
            async: true,

            success: function (result) {

                var obj = JSON.parse(result);
                boatLongitude = obj.longitude;
                boatLatitude = obj.latitude;
                latitude.value = boatLatitude;
                longitude.value = boatLongitude;
                boatLoad = obj.currentLoad;
                boatCapacity = obj.capacity;

                vesselInfo.innerText = obj.name + ', load (' + obj.currentLoad + '/' + obj.capacity + ') packets';

                printAnswer('Vessel info was updated '
                    + longitude.value + ' and latitude ' + latitude.value + ' coordinates');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                printAnswer('Vessel info was not updated. Error: ' +
                    jqXHR.status + ' ' + jqXHR.responseText + ' ' + textStatus + ' ' + errorThrown);
            }
        });
    };

    function onMapClick(e) {

        var tempMarker = L.marker(e.latlng).addTo(markerGroup)
            .bindPopup('<b>New boat coordinate</b><br />Apply one to save your own coordinate').openPopup()
            .on('click', selectMarker);

        longitude.value = e.latlng.lng;
        latitude.value = e.latlng.lat;

        printAnswer('Marker with boat coordinate was added with latitude = '
            + latitude.value + ' and longitude ' + longitude.value + ' coordinate');

        setCoordinateButton.disabled = false;
        acceptButton.disabled = true;
        dumpStatus.disabled = true;
    }

    var onGetRoute = function () {
        //@RequestMapping(method = GET, value = "/route/")
        $.ajax({
            type: 'get',
            url: 'route/',
            contentType: 'application/json',
            async: true,

            success: function (result) {

                setCoordinateButton.disabled = true;
                setDefaulValues();

                // Clear layer and update and show vessel coordinate
                markerGroup.clearLayers();
                linesGroup.clearLayers();
                getVesselInfo();
                markers = [];  //clear markers structure
                acceptButton.disabled = true;
                dumpStatus.disabled = true;

                markers['0'] = L.marker([boatLatitude, boatLongitude]).addTo(markerGroup)
                    .bindPopup('<b>Current boat coordinate</b><br />Now you are here!').openPopup()
                    .on('click', selectMarker);
                markers['0']._icon.style.backgroundColor = 'brown';

                // Get route points
                var obj = JSON.parse(result);
                obj.routePoints.forEach(function (item, index, array) {
                    markers[item.id] = L.marker([item.containedPoint.longitude, item.containedPoint.latitude]).addTo(markerGroup)
                        .bindPopup("<b>Dump " + item.id + " point</b><br/>Status: "
                            + item.status + "<br/>Type: " + item.type).openPopup()
                        .on('click', selectMarker);
                });

                // Draw lines
                var prevLat = '';
                var prevLong = '';
                markers.forEach(function (item, index, array) {
                    if (index != '0') {
                        var points = [
                            [prevLat, prevLong],
                            [item._latlng.lat, item._latlng.lng]
                        ];
                        L.polyline(points, {color: 'red', weight: 2}).addTo(linesGroup);
                    }
                    prevLat = item._latlng.lat;
                    prevLong = item._latlng.lng;
                });

                // Enable button close route if it exists
                if (markers.length > 1) {
                    closeRouteButton.disabled = false;
                } else {
                    closeRouteButton.disabled = true;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                printAnswer('Vessel route was not updated. Error: ' +
                    jqXHR.status + ' ' + jqXHR.responseText + ' ' + textStatus + ' ' + errorThrown);
                acceptButton.disabled = true;
                dumpStatus.disabled = true;
            }
        });
    };

    var onCloseRoute = function () {
        console.log('close route click');
        markerGroup.clearLayers();
        linesGroup.clearLayers();
        markers = [];  //clear markers structure
        acceptButton.disabled = true;
        dumpStatus.disabled = true;

        // TODO - Create realisation of this method
    };

    var onAccept = function () {
        $.ajax({
            type: 'put',
            url: 'routepoint/',
            contentType: 'application/json',
            async: true,
            data: JSON.stringify({
                "id": current_point_id,
                "status": dumpStatus.value
            }),
            success: function (result) {
                printAnswer('Point status was changed: ' + result);
                onGetRoute();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                printAnswer('Vessel point was not updated. Error: ' +
                    jqXHR.status + ' ' + jqXHR.responseText + ' ' + textStatus + ' ' + errorThrown);
            }
        });
    };

    map.on('click', onMapClick);

    function selectMarker(e) {

        var markerTempId = this._leaflet_id;
        var objectId = -1;
        markers.forEach(function (item, index, array) {
            if (markerTempId == markers[index]._leaflet_id) {
                objectId = index;
            }
        });
        if (objectId > 0) {
            $.ajax({
                type: 'POST',
                url: 'points/',
                data: JSON.stringify({
                    "pointIdList": [
                        {
                            "id": objectId
                        }]
                }),
                contentType: "application/json",
                async: true,
                success: function (result) {

                    var obj = JSON.parse(result);
                    obj.forEach(function (item, index, array) {

                        current_point_id = item.id;
                        latitude.value = item.latitude;
                        longitude.value = item.longitude; // TODO - Write answer description
                        dumpDescription.value = 'New description ';
                        //dumpStatus.value = item.status;
                        dumpType.value = item.type;
                        dumpSize.value = item.size;
                        dumpStatus.disabled = false;
                        acceptButton.disabled = false;
                        printAnswer('Dump was selected');
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    printAnswer('Get dumps error: ' +
                        jqXHR.status + ' ' + jqXHR.responseText + ' ' + textStatus + ' ' + errorThrown);
                }
            });
        } else if (objectId == 0) {
            latitude.value = boatLatitude;
            longitude.value = boatLongitude; // TODO - Write answer description
            dumpDescription.value = 'Pol, you are here now';
            dumpType.value = 'This is your ship';
            dumpSize.value = 'One person';
            dumpStatus.disabled = true;
            acceptButton.disabled = true;
            printAnswer('Ship was found');

        } else {
            dumpDescription.value = 'Marker not found';
            dumpType.value = 'Marker not found';
            dumpSize.value = 'Marker not found';
            dumpStatus.disabled = true;
            acceptButton.disabled = true;
            printAnswer('Nothing was found');
        }
    }

    var onSetCoordinates = function () {
        $.ajax({
            type: 'PUT',
            url: 'vessel/',
            data: JSON.stringify({
                'name': 'VesselName',
                'capacity': 130,
                'currentLoad': 0,
                'longitude': longitude.value,
                'latitude': latitude.value
            }),
            contentType: 'application/json',
            async: true,

            success: function (result) {

                boatLatitude = latitude.value;
                boatLongitude = longitude.value;
                printAnswer('Vessel coordinates were updated '
                    + longitude.value + ' and latitude ' + latitude.value + ' coordinates');

                setDefaulValues();

                markerGroup.clearLayers();
                linesGroup.clearLayers();

                L.marker([boatLatitude, boatLongitude]).addTo(markerGroup)
                    .bindPopup('<b>Current boat coordinate</b><br />Now you are here!').openPopup()
                    .on('click', selectMarker);

                setCoordinateButton.disabled = true;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                printAnswer('Vessel coordinates were not updated. Error: ' +
                    jqXHR.status + ' ' + jqXHR.responseText + ' ' + textStatus + ' ' + errorThrown);
            }
        });
    };

    getVesselInfo();
    onSetCoordinates();

</script>

</body>
</html>