<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waste transportation system</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">
</head>
<body>

<div class="brand"><font color="#6495ed">Waste transportation system</font></div>
<div class="address-bar"><font color="#6495ed">Rest slow and clean</font></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WTS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index">About us</a>
                </li>
                <li>
                    <a href="request">Make request</a>
                </li>
                <li>
                    <a href="crewman">Boat page</a>
                </li>
                <li>
                    <a href="statistics">Statistics page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="box">
        <form>
            <div class="form-group row">
                <h2 class="intro-text text-center">System description</h2>
                <hr>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive img-border img-left" src="img/the_problem.jpg"
                         alt="Boat assembling with equipment and garbage">
                    <p>Boat assembling with equipment and garbage</p>
                </div>
                <div class="col-lg-9">
                    <p>Какое то описание параграф 1</p>
                    <p>Какое то описание параграф 2</p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>