<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waste transportation system</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">
</head>
<body>

<div class="brand"><font color="#6495ed">Waste transportation service</font></div>
<div class="address-bar"><font color="#6495ed">A cleaning today keeps the landfills away</font></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WTS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index">About us</a>
                </li>
                <li>
                    <a href="request">Make request</a>
                </li>
                <li>
                    <a href="crewman">Boat page</a>
                </li>
                <li>
                    <a href="statistics">Statistics page</a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <br/>
                        <input type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="box">
        <form>
            <div class="form-group row">
                <h2 class="intro-text text-center">Service description</h2>
                <br/>
                <div class="col-lg-7">
                    <p>Hey pal, have you ever been to Ladoga lake?</p>
                    <p><img src="img/seals.png" alt="seals"></p>
                    <p>When you stay here, you will hear unforgettable waves. Fat seals on stones will be your the
                        brightest memory of the place. It is beautiful here, is not it? </p>
                    <p>To improve your rest quality and to save cleanliness of unique nature we present a new service!
                        Waste transportation service is used to pick up your garbage from nature reserve islands and
                        deliver it to the recycling points.</p>
                    <p><img src="img/boats.png" alt="boats"></p>
                    <p>We have a few boats to collect your garbage from your camp.</p>
                    <p> Just use our website to make an order, and we will call back you immediately!</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img class="img-responsive img-border img-left" src="img/boat_assembling.jpg"
                         alt="Boat assembling">
                    <p>Forget about difficult boat assembling.</p>
                    <p>Now you don't have to pick up your garbage.</p>
                    <p>We will make it clean and environmentally friendly.</p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>