<!DOCTYPE HTML>
<html>
<head>
    <title>Test web page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <title>OpenLayers example</title>

</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

    var RestGet = function() {
        $.ajax({
            type: 'GET',
            url:  '/test_geo?is_in(61.2246,30.05194);out;',
            dataType: 'json',
            async: true,
            success: function(result) {
                document.getElementById('point_info').value = result.message;
            },
            error: function(jqXHR, textStatus, errorThrown) {
            document.getElementById('point_info').value = jqXHR.status + ' ' + jqXHR.responseText;

            }
        });
    }
</script>

<body>

<h3>Test web page</h3>

<div id="map" class="map"></div>

<button type="button" onclick="RestGet()">Get information about the point</button></br>
<textarea id="point_info" disabled="true" cols = 200 rows = 30>Point isn't chosen</textarea>

<script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([30.0495, 61.2302]),
          zoom: 14
        })
      });
    </script>

</body>
</html>